#main { margin: 0 auto;
    width: 80vw;
    height: 95vh;
    border: 1px solid blue; 
    display: grid;
    grid-template-columns: 1fr 25px 50%;
    grid-template-areas:
    "leftside leftside headeris"
    "leftside leftside veidomasazai"
    "leftside leftside jogospamokos"
    "leftside leftside biorezonansas"
    "leftside leftside rezervacija"
    "leftside leftside empty";}
.leftside {
    height: 100%;
    border: 1px solid red;
    grid-area: leftside;}
#headeris {grid-area: headeris;}
#veidomasazai {grid-area: veidomasazai;}
#jogospamokos {grid-area: jogospamokos;}
#biorezonansas {grid-area: biorezonansas;}
#rezervacija {grid-area: rezervacija;}
#empty {grid-area: empty;}
.iconos {border: 1px dotted gray;background-color: burlywood;}
.tekstas {display: none;}

.nuoroda {padding: 10px;background-color: burlywood;
    position: relative; left: 20%;font-size: 1.4em;box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.3);

    display: block;
    overflow: hidden;

}
.backblock {position: absolute; 
z-index: -1;box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.3);}
#bb1 {width: 100%;height: 100%;left: 10%;}
#bb2 {width: 120%;height: 140%;left:-10%;top:10%;}
#bb3 {width: 80%;height: 100%;left: 10%; bottom: 30%;}
#bb4 {width: 140%; height: 160%; left:-20%;top:-30%;}

#headerTitle {font-size: 2.7em;}
