@import url('https://fonts.googleapis.com/css?family=Cinzel|Marcellus|Playfair+Display+SC|Ultra');
body {overflow: hidden;margin: unset;
    /* background-image: url('../images/tekstura2.jpeg'); */
    background-size: cover;
}
body::before {
    content: '';
    background-color: rgb(230, 222, 117);
        background-size: cover;
        /* opacity: 0.8; */
        filter: blur(2px) grayscale(5%)  sepia(100%);
        background-image: url('../images/paul-morris-184486-unsplash.jpg');
        top: 0;left: 0;bottom: 0;right: 0;position: absolute;z-index: -1;
}
#main {
    overflow: hidden;
     margin: 0 auto;
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 25px 50%;
    grid-template-areas:
    "leftside leftside headeris"
    "leftside leftside area1"
    "leftside leftside area2"
    "leftside leftside area3"
    "leftside leftside area3";
    position: relative;top:30px;
    box-shadow: 5px 10px 18px #888888;
}
.leftside {
    height: 100%; width: 100%;
    grid-area: leftside;
    overflow: visible;
    position: relative;}
.leftSideImagesUlist {
    height: 100%;
    position: relative;
    overflow: visible;
}
#headeris {
    grid-area: headeris;
    background-image: url('../images/Pink_And_Turquoise_Sunset.jpg');
    background-size:100% 190%;
}
#area1 {grid-area: area1;
    background-color: rgb(230, 222, 117);
}
#area2 {grid-area: area2;background-image: url('../images/geotexture.jpg');
    background-size: 130%;
    text-align: center;}
#area3 {grid-area: area3;background-image: url('../images/tekstura2.jpeg');
    background-size: 100%;}
.nuoroda {padding: 5px 0px 1px 0px;
    border:none;
    background-color:transparent; 
    transition: all 0.45s ease;
    overflow: hidden;
    width: fit-content;
    color:#444c57;
    display: block;
    margin: 10px auto 0px auto;
    position: relative;
    font-size: 1.1em;
    z-index: 10;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.nuoroda:active {
    background-color: rgb(255, 174, 0);
}
.nuoroda:focus {
    outline:none;
    background-color: rgb(255, 174, 0);
}
.nuoroda:hover {
    color: antiquewhite;
} 
/* -------------------------time to start using css preprocessor------------------------ :) */
.nuoroda::before {content: "";height: 105%;width: 1%;display: block;position: absolute;left: 100%;top: -10%;
    padding-top: 10px; z-index: -1;opacity: 1;transition: all 0.45s ease-out 0s;}
.nuoroda:hover::before {width: 100% !important;opacity: 0;color: #FFF;background-color: rgb(255, 174, 0); left: 0%;}
.nuoroda::after {content: "";height: 105%;width: 1%;display: block;position: absolute;left: -1%;top: -10%;
    padding-top: 10px; z-index: -1;opacity: 0;transition: all 0.45s ease-out 0s;}
.nuoroda:hover::after {width: 101% !important;opacity: 1;color: #FFF;background-color: rgb(255, 174, 0);right: 150%;}
.nuoroda:active .nuoroda:visited {border: none;}

#headerTitle {
    position: relative;
    top: 30px;
    left: -55px; 
    background-color:#FEEEDA;
    background-image: url('../images/geotexture.jpg');
    z-index: 15;
    font-family: 'Raleway', sans-serif;
    font-size: 2.6em;z-index: 10;
    font-weight: bold;
    float: left;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation:BackgroundAnimacija 60s linear infinite alternate;
}
@keyframes BackgroundAnimacija {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
#sprendimai{position: relative; left:-10px;top: 40px;z-index: 10;
    background-image: url('../images/geotexture.jpg');
    background-color: #FEEEDA;
    color:transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    font-size: 0.7em;
    animation:BackgroundAnimacijaSprendimai 70s linear infinite alternate;
}
@keyframes BackgroundAnimacijaSprendimai {
    from {
        background-position:100% 0
    }
    to {
        background-position:0 0
    }
}
a {text-decoration:none;color:inherit; display: block;}
a:focus {background-color: rgb(255, 174, 0);z-index: 20;padding: 5px 0px 1px 0px;color: antiquewhite;}


/* ----------------------------------LEFT SIDE-------------------------------- */
.owl-stage-outer {height: 100%;}
.owl-dots {position: relative;
    top: -55px;z-index: 4;}
ul, li {position: absolute;list-style: none;list-style-type: none; display: block; width: 100%;height: 100%;
    padding: 0;margin: 0;}  
.leftSideImg {min-height: 90vh;max-height: 95vh; width: auto; display: block;position: unset;}
.pavadinimas {text-align: center;margin: 0;font-weight: 200;}

.tekstas {display: block;padding: 5%;width: fit-content;position: relative; bottom: 380px;
    font-family: 'Quicksand', sans-serif;font-weight: medium;font-size: .9em;
    height: fit-content;z-index: 3;float: right;}
.tekstas::before {
    content: "";
    background-color: rgb(230, 222, 117);
    background-size: 100%;
    opacity: 0.8;
    filter: blur(1px);
    position: absolute;top: 0;left: 0;bottom: 0;right: 0;
    z-index: -1; 
}


/* --------------------------------for mobile ------------------------------------*/
@media (max-width: 768px) { 
    body {
        margin: 0;
        overflow: auto;
    }
    #main {
        border: none;
        overflow: auto;
        margin: 0 auto;
        top: 0px;
        width: 100%;
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-areas:
        "headeris"
        "area2"
        "leftside""leftside""leftside"
        "leftside";}
        .leftside {overflow: visible;}
        .tekstas{position: absolute; top: 0px;}
        .tekstas::before {opacity: 0.65;}
        #headerTitle {top:0px;left: 0px;}
        .owl-stage-outer {min-height: 500px;}
        #sprendimai {position: unset;}
        #area2 {background-size: 300%;}

}
